<template>
    <div class="container">
        <!--<div class="row justify-content-center">-->
            <!--<div class="col-md-8">-->
                <!--<div class="card">-->
                    <!--<div class="card-header">Example Component</div>-->

                    <!--<div class="card-body">-->
                        <!--I'm an example component.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div>
            <label for="bedrooms"> BEDROOMS </label>
            <select id="" about="">
                <option value="" about=""></option>
                <option v-for="item in options.bedrooms" value="{{item}}"> {{item}} </option>
            </select>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'options'
        ],
        mounted() {
            this.update()
        },
        methods: {
            update: function () {

            } 
        }
    }
</script>
