<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2 filter-item" >
                    <label for="bedrooms"> bedrooms <br/><select
                            name="weights" id="bedrooms" v-model="search.bedrooms">
                        <option value="-">-</option>
                        <option
                                v-for="(bedroom, index) of options.bedrooms"
                                :key="index"
                                :value="bedroom"
                        >{{bedroom}}</option>
                    </select>
                    </label>
                </div>

                <div class="col-md-2 filter-item" >
                    <label for="bedrooms"> bathrooms <br/><select
                            name="weights" id="bathrooms" v-model="search.bathrooms">
                        <option value="-">-</option>
                        <option
                                v-for="(bathroom, index) of options.bathrooms"
                                :key="index"
                                :value="bathroom"
                        >{{bathroom}}</option>
                    </select>
                    </label>
                </div>

                <div class="col-md-2 filter-item" >
                    <label for="bedrooms"> storeys <br/><select
                            name="weights" id="storeys" v-model="search.storeys">
                        <option value="-">-</option>
                        <option
                                v-for="(storey, index) of options.storeys"
                                :key="index"
                                :value="storey"
                        >{{storey}}</option>
                    </select>
                    </label>
                </div>

                <div class="col-md-2 filter-item" >
                    <label for="bedrooms"> garages <br/><select
                            name="weights" id="garages" v-model="search.garages">
                        <option value="-">-</option>
                        <option
                                v-for="(garage, index) of options.garages"
                                :key="index"
                                :value="garage"
                        >{{garage}}</option>
                    </select>
                    </label>
                </div>
                <div class="col-md-4 filter-item" >
                    <label class="price"> Price (from - to)<br/>
                    <input type="number" min="0" id="priceFrom" placeholder="from" v-model="search.priceFrom"> -
                    <input type="number" min="0" id="priceTo" placeholder="to" v-model="search.priceTo">
                    </label>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <button
                    class="col-md-12"
                    type="button"
                    value="Search"
                    @click="update"
                    v-if="!is_refresh"
            >Search </button>
        </div>
        <br/>




        <div>
            <span class="loader badge badge-primary mb-1" v-if="is_refresh">Searching...</span>
            <div class="row">
                <div v-if="resultIsNull">Ничего не найдено</div>

                <!--<table class="table" v-if="count !== 0">-->
                <table class="table col-md-12 table-striped table-bordered" v-if="!resultIsNull">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Bedrooms</th>
                        <th>Bathrooms</th>
                        <th>Storeys</th>
                        <th>Garages</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in houses[0]">
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.bedrooms}}</td>
                        <td>{{item.bathrooms}}</td>
                        <td>{{item.storeys}}</td>
                        <td>{{item.garages}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</template>


<script>
    import axios from 'axios';

    axios.defaults.headers.common = {
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRF-TOKEN': window.csrf_token
    };

    export default {
        props: [
            'options'
        ],
        data: function(){
            return {
                houses: [],
                resultIsNull: false,
                is_refresh: false,
                count: 0,
                search: {
                    bedrooms : 0,
                    bathrooms : 0,
                    storeys : 0,
                    garages : 0,
                    priceFrom : 0,
                    priceTo : 0,
                },
            }
        },
        methods: {
            update: function () {
                this.is_refresh = true;
                let self = this;

                for (let key in this.search) {

                   if (this.search[key] == '-' || this.search[key] === ''){
                       delete this.search[key];
                   }
                }

                this.houses = [];

                axios.post('/ajax-search-house', this.search)
                    .then(function (response) {
                        console.log(response.data);

                        self.count = response.data.length;

                        if (response.data.length == 0) {
                            self.is_refresh = false;
                            self.resultIsNull = true;
                        } else {
                            self.resultIsNull = false;
                            self.is_refresh = false;
                            self.houses.push(response.data);
                        }
                    });
            }
        }
    }
</script>
